.content {
    background-color: #20241D;
    color: #E8E5E1;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
}

.dropdown {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    height: 100px;
}

.dropdown label {
    font-size: 20px;
}

.dropdown select {
    border: 2px solid;
    background:#455d7a; 
    color: #e3e3e3;
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 100%;
}

.dropdown .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.dropdown button {
    background: #f95959; 
    color: #e3e3e3; ;
    margin-left: 10px;
    border-radius: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
        .content {
            height: 100%;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    .dropdown {
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .dropdown select {

        background:#455d7a; 
        color: #e3e3e3;
        font-size: 20px;
        text-align: center;
        width: 300px;
        height: 60px;
    }

    .dropdown .button {

        color: #e3e3e3;
        font-size: 20px;
        text-align: center;
        width: 200px;
        height: 60px;   
        margin: 10px 0;
    }
}


@media screen and (max-width: 425px) {
    .content {
        background-color: #20241D;
        color: #E8E5E1;
        height: 100%;
    }
    .dropdown {
        width: auto;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .dropdown button {
        margin: 10px 0;
        height: 60px;
    }

    .dropdown select {
        width: 200px;
    }
}