.container {
    border: 1px solid rgba(56, 56, 56, 0.264);
    border-right: none;
    border-left: none;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown label {
    font-size: 20px;
}

.dropdown select {
    border: 2px solid;
    background:#455d7a; 
    color: #e3e3e3; ;
    width: 300px;
    text-align: center;
    padding: 10px;
}

 .dropdown {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.dropdown  button {
    background: #f95959; 
    color: #e3e3e3; ;
    padding: 5px;
    width: 150px;
    height: auto;
    margin-left: 10px;
    border-radius: 30px;
}