.sections {
    height: 100%;
    min-height: 400px;

    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.sections .impArticles p{
    font-size: 20px;
}

.sections .impLinks p {
    font-size: 20px;
}

.sections .branding {
    font-size: 80px;
    /* background-color: red; */
    text-align: center;
}

.impNotes {
    padding: 30px;
    color: rgba(18, 17, 17, 0.287);
}

@media screen and (max-width: 800px) {
    .sections {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }  
}