.container {
    height: 100%;
}

.content {
    position: relative;
    padding: 30px;
    height: 100vh;
    /* background-image: url("../../../assets//img/bg.jpg");
    background-size: cover;
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; */
    background-color: #F2EBD0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img {
    height: 200px;
    width: 300px;
    top: 0;
}

.heading {
    font-size: 60px;
    text-align: center;
}


.numberone {
    font-size: 30px;
    text-align: center;
}

button {
    background-color: #10866B;
    color: white;
    width: 200px;
    font-size: 25px;
    border-radius: 30px;
    padding: 5px;
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .content {
        height: 100%;
}
}